.movie{
    background-color: var(--secondary-color);
    margin: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.movie-details .title{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100% ;
    background-color: black;
    opacity: 0.9;
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
    transform: translateY(101%);
    font-size: 1rem;
}

.movie:hover .title{
    transform: translateY(0%);
}

.movie:hover {
    transform: scale(1.2);
    
}