.header{
    background-color: black;
    color: white;
    padding-top: 1rem;
}
a > span{
    margin: 0 30px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: aquamarine;
}